
  <div class="container">
    <h3 style="text-align: center;">Add Supplier</h3>
    <form #addsupplierform="ngForm" (ngSubmit)="addsupplierformsubmit()">
      <!-- {{supplier | json}} -->
      <div class="form-group">
        <label for="name">Supplier Name</label>
        <input type="text" class="form-control" required [(ngModel)]="supplier.supplierName" id="name" name="name">
      </div>
      <div class="form-group">
        <label for="licensebought">Number of Licenses Bought</label>
        <input type="text" class="form-control" name="licensebought" required [(ngModel)]="supplier.licenseBought">
      </div>
      <div class="form-group">
        <label for="urladdress">Address URL</label>
        <input type="text" class="form-control" name="urladdress" required [(ngModel)]="supplier.urlAddress">
      </div>
      <button type="submit" class="btn btn-success">Submit</button>&nbsp;
      <button type="submit" (click)="gotolist()" class="btn btn-danger">Back</button>

    </form>
  </div>
