.container tr:nth-child(even) {
  background-color: #f2f2f2;
}

.container tr:hover {
  background-color: #ddd;
}

.container th {
  background-color: #4caf50;
  color: white;
}

.statustable {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 100%;
}

.container td {
  width: 10%;
}

.title {
  text-align: center;
}

.search {
  width: 10%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 20px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.search:focus {
  width: 20%;
}
