<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <h3 class="title">Employee Details</h3>   

      
      &nbsp;&nbsp;&nbsp;
      <input type="text" class="search" placeholder="Search By Visa" name="urladdress"  [(ngModel)]="searchName" >

      <br><br>
      <div class="container">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>VISA</th>
          <th>Eligibility</th>
          <th>Training Identified</th>
          <th>Course Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      
      <tbody>
        <tr *ngFor="let employee of employees | filter:searchName">
          <td>{{employee.firstName}}</td>
          <td>{{employee.lastName}}</td>
          <td>{{employee.visa}}</td>
          <td>{{employee.eligibility}}</td>
          <td>{{employee.trainingIdentified}}</td>
          <td>{{employee.trainingName}}</td>
 
          <td>
              <button (click)="goToEditEmployee(employee.employeeId)" type="button" class="btn btn-primary">Edit</button>
              <!-- <button (click)="employeeDetails(employee.employeeId)" type="button" class="btn btn-success">View</button> -->
          </td>
        </tr>
      </tbody>
    </table>
    <button type="button" routerLink="/addemployee" routerLinkActive="active" class="btn btn-primary">Add Employee</button>

  </div>


  