.container tr:nth-child(even) {
  background-color: #f2f2f2;
}

.container tr:hover {
  background-color: #ddd;
}

.container th {
  background-color: #4caf50;
  color: white;
}

.statustable {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 100%;
}

.container td {
  width: 10%;
}

.title{
    text-align: center;
  }