<h3 class="title">Active and Upcoming Trainings</h3>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>VISA</th>
                <th>Proposed Training</th>
                <th>Training Status</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Supplier</th>
                <th>Training Type</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{employee.firstName}}</td>
                <td>{{employee.lastName}}</td>
                <td>{{employee.visa}}</td>
                <td>{{employee.proposedTraining}}</td>
                <td>{{employee.trainingStatus}}</td>
                <td>{{employee.startDate}}</td>
                <td>{{employee.endDate}}</td>
                <td>{{employee.supplierName}}</td>
                <td>{{employee.trainingType}}</td>
            </tr>
        </tbody>
    </table>
</div>