<div class="container">
 <form (ngSubmit)="onSubmit()"> 
  <h3 style="text-align: center;">Update Employee</h3>
  <div class="hidden">
    <label for="id">ID</label>
    <input type="text" class="form-control" [(ngModel)]="employee.employeeId" id="id" name="id">
  </div>
    <div class="form-group">
      <label for="fname">First Name</label>
      <input type="text" class="form-control" [(ngModel)]="employee.firstName" id="fname" name="fname">
    </div>
    <div class="form-group">
        <label for="lname">Last Name</label>
        <input type="text" class="form-control" required [(ngModel)]="employee.lastName" id="lname" name="lname">
      </div>
    <div class="form-group">
        <label for="VISA">VISA</label>
        <input type="text" class="form-control"  [(ngModel)]="employee.visa"  name="VISA">
      </div>
      <div class="form-group">
        <label for="status">Status </label>&nbsp;
      <select class="dropdown" name="status" [(ngModel)]="employee.employeeStatus">
        <option value="Active">Active
        </option>
        <option value="Inactive">Inactive
        </option>
      </select>
    </div>


    <div class="form-group">
      <label for="factory">Factory </label>&nbsp;
    <select class="dropdown" name="factory" [(ngModel)]="employee.factory">
      <option *ngFor="let factories of factory" value={{factories.factoryId}}>
        {{factories.factoryName}}
      </option>
    </select>
  </div> 


    <button type="submit" class="btn btn-success">Submit</button>&nbsp;
    <button type="submit" (click)="cancel()" class="btn btn-danger">Cancel</button>

  </form>
</div>
