.container tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .container tr:hover {
    background-color: #ddd;
  }
  
  .container th {
    background-color: #4caf50;
    color: white;
  }

  td{
    width: 20%;
  }
  