<h3 class="container">Java</h3>
<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>VISA</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let factory of factories">
                <td>{{factory.firstName}}</td>
                <td>{{factory.lastName}}</td>
                <td>{{factory.visa}}</td>
            </tr>
        </tbody>
    </table>
</div>

<h3 class="container">Academy</h3>
<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>VISA</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let academy of factoryacademy">
                <td>{{academy.firstName}}</td>
                <td>{{academy.lastName}}</td>
                <td>{{academy.visa}}</td>
            </tr>
        </tbody>
    </table>
</div>


<h3 class="container">iPension</h3>
<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>VISA</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ipension of factoryipension">
                <td>{{ipension.firstName}}</td>
                <td>{{ipension.lastName}}</td>
                <td>{{ipension.visa}}</td>
            </tr>
        </tbody>
    </table>
</div>



<h3 class="container">Admin</h3>
<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>VISA</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let admin of factoryadmin">
                <td>{{admin.firstName}}</td>
                <td>{{admin.lastName}}</td>
                <td>{{admin.visa}}</td>
            </tr>
        </tbody>
    </table>
</div>


<h3 class="container">.Net</h3>
<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>VISA</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let net of factorynet">
                <td>{{net.firstName}}</td>
                <td>{{net.lastName}}</td>
                <td>{{net.visa}}</td>
            </tr>
        </tbody>
    </table>
</div>

