<table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>VISA</th>
            <th>Status</th>
            <th>Factory</th>
            <th>Eligibility</th>
            <th>Training Identified</th>
            <th>Proposed Training</th>
            <th>Training Status</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Duration</th>
            <th>M/O</th>
            <th>License Attributed</th>
            <th>Supplier</th>
            <th>Training Type</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees ">
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.visa}}</td>
            <td>{{employee.employeeStatus}}</td>
            

        </tr>
    </tbody>
</table>

<button (click)="list()" class="btn btn-primary">Back to Employee List</button>