<h3 class="title">Training Details</h3>   

<div class="container">
<table class="table table-bordered">
<thead>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>VISA</th>
    <th>Training Name</th>
    <th>Training Status</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Duration</th>
    <th>Mandatory/ Optional</th>
    <th>License Attributed</th>
    <th>Supplier</th>
    <th>Training Type</th>
    <th>Actions</th>
  </tr>
</thead>

<tbody>
  <tr *ngFor="let training of trainings">
    <td>{{training.firstName}}</td>
    <td>{{training.lastName}}</td>
    <td>{{training.visa}}</td>
    <td>{{training.trainingName}}</td>
    <td>{{training.trainingStatus}}</td>
    <td>{{training.startDate}}</td>
    <td>{{training.endDate}}</td>
    <td>{{training.duration}}</td>
    <td>{{training.mandatory}}</td>
    <td>{{training.licenseAttributed}}</td>
    <td>{{training.supplierName}}</td>
    <td>{{training.trainingType}}</td>
    <td>
        <button (click)="goToEditTraining(training.trainingId)" type="button" class="btn btn-primary">Edit</button>
    </td>
  </tr>
</tbody>
</table>
<button type="button" routerLink="/training" routerLinkActive="active" class="btn btn-primary">Add Training</button>

</div>


