
<div class="container">
    <h3 style="text-align: center;">Supplier Details</h3>     
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Supplier Name</th>
          <th>No of Licenses Bought</th>
          <th>URL Address</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let supplier of suppliers">
          <td>{{supplier.supplierName}}</td>
          <td>{{supplier.licenseBought}}</td>
          <td>{{supplier.urlAddress}}</td>
        </tr>
      </tbody>
    </table>
    <button type="button"  (click)="goToAddSupplier()" class="btn btn-primary">Add Supplier</button>

  </div>

  