<div class="container">
  <form #addtrainingform="ngForm" (ngSubmit)="addtrainingformsubmit()">
    <h3 style="text-align: center;">Assign Training</h3>

    <div class="form-group">
      <label for="trainingname">Training Name</label>
      <input type="text" class="form-control" name="trainingname" required [(ngModel)]="training.trainingName">
    </div>

    <div class="form-group">
      <label for="lname">Proposed Training</label>
      <input type="text" class="form-control" name="lname" required [(ngModel)]="training.proposedTraining">
    </div>

    <div class="form-group">
      <label for="status">Training Status</label>&nbsp;
      <select class="dropdown" name="status" [(ngModel)]="training.trainingStatus">
        <option value="In Progress">In Progress
        </option>
        <option value="Completed">Completed
        </option>
        <option value="Inactive">Inactive
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="status">Start Date</label>
      <input type="date" class="form-control" name="status" [(ngModel)]="training.startDate">
    </div>
    <div class="form-group">
      <label for="factory">End Date</label>
      <input type="date" class="form-control" name="factory" [(ngModel)]="training.endDate">
    </div>
    <div class="form-group">
      <label for="factory">Duration (Hours)</label>
      <input type="number" class="form-control" name="factory" [(ngModel)]="training.duration">
    </div>

    <div class="form-group">
      <label for="mandatory">Mandatory/Optional</label>&nbsp;
      <select class="dropdown" name="status" [(ngModel)]="training.mandatory">
        <option value="Mandatory">Mandatory
        </option>
        <option value="Optional">Optional
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="license">License Attributed</label>&nbsp;
      <select class="dropdown" name="status" [(ngModel)]="training.licenseAttributed">
        <option value="Yes">Yes
        </option>
        <option value="No">No
        </option>
      </select>
    </div>


    <div class="form-group">
      <label for="trainingcategory">Training Type </label>&nbsp;
      <select class="dropdown" name="trainingcategory" [(ngModel)]="training.trainingcatId">
        <option *ngFor="let trainingcategories of trainingcategory" value={{trainingcategories.trainingcatId}}>
          {{trainingcategories.trainingType}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="supplier">Supplier </label>&nbsp;
      <select class="dropdown" name="supplier" [(ngModel)]="training.supplierId">
        <option *ngFor="let suppliers of supplier" value={{suppliers.supplierId}}>
          {{suppliers.supplierName}}
        </option>
      </select>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>&nbsp;
    <button type="submit" (click)="cancel()" class="btn btn-danger">Cancel</button>
    <br><br>
  </form>
</div>