
<div class="container">
 <form #addsupplierform="ngForm" (ngSubmit)="addemployeeformsubmit()"> 
    <h3 style="text-align: center;">Employee Registration</h3>   

    <div class="form-group">
      <label for="fname">First Name</label>
      <input type="text" class="form-control" required [(ngModel)]="employee.firstName" name="fname">
    </div>
    <div class="form-group">
      <label for="lname">Last Name</label>
      <input type="text" class="form-control" required [(ngModel)]="employee.lastName"  name="lname">
    </div>
    <div class="form-group">
        <label for="visa">VISA</label>
        <input type="text" class="form-control" required [(ngModel)]="employee.visa"  name="visa">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" [(ngModel)]="employee.email"  name="email">
      </div>


      <div class="form-group">
        <label for="status">Status </label><br>
      <select class="dropdown" name="status" [(ngModel)]="employee.employeeStatus">
        <option value="Active">Active
        </option>
        <option value="Inactive">Inactive
        </option>
      </select>
    </div>

      <div class="form-group">
        <label for="factory">Factory </label><br>
      <select class="dropdown" name="factory" [(ngModel)]="employee.factory">
        <option *ngFor="let factories of factory" value={{factories.factoryId}}>
          {{factories.factoryName}}
        </option>
      </select>
    </div>
 
    <button type="submit" class="btn btn-success">Submit</button>&nbsp;&nbsp;
    <button type="submit" (click)="back()" class="btn btn-danger">Back</button>


  </form>

</div>
