<div class="container">
    <form (ngSubmit)="onSubmit()">
        <h3 style="text-align: center;">Update Training</h3>
        <div class="hidden">
            <label for="id">ID</label>
            <input type="text" class="form-control" [(ngModel)]="training.trainingId" id="id" name="id">
        </div>
        <div class="form-group">
            <label for="trainingName">Training Name</label>
            <input type="text" class="form-control" [(ngModel)]="training.trainingName" id="fname" name="trainingName">
        </div>
        <div class="form-group">
            <label for="proposedTraining">Proposed Training</label>
            <input type="text" class="form-control" required [(ngModel)]="training.proposedTraining"
                id="proposedTraining" name="proposedTraining">
        </div>

        <div class="form-group">
            <label for="trainingStatus">Training Status</label>&nbsp;
            <select class="dropdown" name="trainingStatus" [(ngModel)]="training.trainingStatus">
                <option value="In Progress">In Progress
                </option>
                <option value="Completed">Completed
                </option>
                <option value="Inactive">Inactive
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="startDate">Start Date</label>
            <input type="date" class="form-control" name="startDate" [(ngModel)]="training.startDate">
        </div>

        <div class="form-group">
            <label for="endDate">End Date</label>
            <input type="date" class="form-control" name="endDate" [(ngModel)]="training.endDate">
        </div>

        <div class="form-group">
            <label for="duration">Duration (Hours)</label>
            <input type="number" class="form-control" name="duration" [(ngModel)]="training.duration">
        </div>

        <div class="form-group">
            <label for="mandatory">Mandatory/Optional</label>&nbsp;
            <select class="dropdown" name="mandatory" [(ngModel)]="training.mandatory">
                <option value="Mandatory">Mandatory
                </option>
                <option value="Optional">Optional
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="licenseAttributed">License Attributed</label>&nbsp;
            <select class="dropdown" name="licenseAttributed" [(ngModel)]="training.licenseAttributed">
                <option value="Yes">Yes
                </option>
                <option value="No">No
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="factory">Supplier </label>&nbsp;
            <select class="dropdown" name="factory" [(ngModel)]="training.supplierId">
                <option *ngFor="let suppliers of supplier" value={{suppliers.supplierId}}>
                    {{suppliers.supplierName}}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="trainingcategory">Training Type </label>&nbsp;
            <select class="dropdown" name="trainingcategory" [(ngModel)]="training.trainingcatId">
                <option *ngFor="let trainingcategories of trainingcategory" value={{trainingcategories.trainingcatId}}>
                    {{trainingcategories.trainingType}}
                </option>
            </select>
        </div>

        <button type="submit" class="btn btn-success">Submit</button>&nbsp;
        <button type="submit" (click)="cancel()" class="btn btn-danger">Cancel</button>
        <br><br>
    </form>
</div>