
<div class="container">
    <form #eligibilityform="ngForm" (ngSubmit)="addemployeeformsubmit()"> 
       <h3 style="text-align: center;">Employee Eligibility</h3>   

       <div class="form-group">
        <label for="employee">Employee </label>&nbsp;
      <select class="dropdown" name="employee" [(ngModel)]="employeetraining.employeeId">
        <option *ngFor="let employees of employee" value={{employees.employeeId}}>
            {{employees.firstName}}
            {{employees.lastName}}
        </option>
      </select>
    </div>
    
    
    <div class="form-group">
      <label for="training">Training </label>&nbsp;
    <select class="dropdown" name="training" [(ngModel)]="employeetraining.trainingId">
      <option *ngFor="let trainings of training" value={{trainings.trainingId}}>
        {{trainings.trainingName}}
      </option>
    </select>
    </div>
    


<div class="form-group">
    <label for="eligibility">Eligibility</label>&nbsp;
    <select class="dropdown" name="eligibility" [(ngModel)]="employeetraining.eligibility">
      <option value="Yes">Yes
      </option>
      <option value="No">No
      </option>
    </select>
  </div>
  <div class="form-group">
  <label for="trainingiden">Training Identified</label>&nbsp;
  <select class="dropdown" name="trainingiden" [(ngModel)]="employeetraining.trainingIdentified">
    <option value="Yes">Yes
    </option>
    <option value="No">No
    </option>
  </select>
  </div>

  


<button type="submit" class="btn btn-success">Submit</button>&nbsp;
<button type="submit" (click)="cancel()" class="btn btn-danger">Cancel</button>



</form>
</div>