

.container tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .container tr:hover {
    background-color: #ddd;
  }
  
  .container th {
    background-color: #4caf50;
    color: white;
  }
  
  .statustable{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }


  .container td{
    width: 10%;
  }

  .title{
    text-align: center;
  }

  #customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }