

<h3 style="text-align: center;"> Trainings Completed</h3>
<!-- <div>
      <a href="http://localhost:8080/download/employees.xlsx">EMPLOYEES</a>
    </div> -->



<table id="customers" >
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>VISA</th>
            <th>Course Name</th>
            <th>Training Status</th>
            <th>Duration (Hours)</th>
            <th>Supplier</th>
            <th>Start Date</th>
            <th>End Date</th>

        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let training of trainings">
            <td>{{training.firstName}}</td>
            <td>{{training.lastName}}</td>
            <td>{{training.visa}}</td>
            <td>{{training.trainingName}}</td>
            <td>{{training.trainingStatus}}</td>
            <td>{{training.duration}}</td>
            <td>{{training.supplierName}}</td>
            <td>{{training.startDate}}</td>
            <td>{{training.endDate}}</td>
        </tr>
    </tbody>
</table>
<br>
<button type="submit" (click)="exportexcel()" class="btn btn-primary">Download Softcopy of Trainings completed &nbsp;&nbsp;<i class="fa fa-download"></i></button><br>
